<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head',{title: "Agregar producto"}) %> 
<body class="register">
    <%- include('./partials/header') %> 
    <main>
        <h1>CARGA DE PRODUCTO</h1>
        <form action="" method="POST">
            <div class="box-form">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre">
            </div>
            <div class="box-form">
                <label for="nombre">Descripcion</label>
                <textarea name="descripcion" id="" cols="30" rows="3"></textarea>
            </div>
            <div class="box-form">
                <label for="precio">Precio</label>
                <input type="number" name="precio" id="precio">
            </div>
            <div class="box-form">
                <h4>Categoría</h4>
                <select name="categoria" id="categoria">
                    <option value="" selected hidden>Seleccione la categoría</option>
                    <% categorias.forEach(categoria => { %>
                     <option value="<%= categoria.nombre %>"><%= categoria.nombre %> </option>
                    <% }) %>
                </select>
            </div>
            <div class="box-button">
                <button type="submit">Agregar</button>
            </div>
        </form>
    </main>
    <%- include('./partials/footer') %> 

</body>

</html>